.card_item-background {
  flex: 0 1 calc(20% - 1rem);
  background-color: #FFFFFF;
  padding: 0.625rem;
  border-radius: 0.5rem;
  flex-direction: column;
  color: #FFFFFF;
}

.card_item-image-wrapper {
  display: flex;
  height: 18.5625rem;
  justify-content: center;
  max-width: 100%;
  border-radius: 0.5rem;
}

.card_item-image {
  min-height: 100%;
  border-radius: 0.5rem;
}

.card_item_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.625rem;
  margin-top: 0.3125rem;
}

.card_item_minor-info {
  display: flex;
  justify-content: space-between;
}

.card_item-brand {
  font: normal normal bold 0.9375rem/1.375 Nunito;
  color: #4B9CE2;
  text-transform: capitalize;
}

.card_item_color {
  //color: #3E3E3E;
  font: normal normal bold 0.8125rem/1.375 Nunito;
  color: #3E3E3E;
  text-transform: capitalize;
  span:nth-child(2) {
    font-weight: normal;
  }
}

.card_item_price {
  font: normal normal bold 1.125rem/1.375 Nunito;
  color: #3E3E3E;
}

//.card_item_color-title {
//  color: #3E3E3E;
//  font: normal normal bold 0.8125rem/2.2 Nunito;
//}
//
//.card_item_color-value {
//  color: #3E3E3E;
//  font: normal normal bold 0.8125rem/2.2 Nunito;
//}
