.card_item-background {
  flex: 0 1 calc(20% - 1rem);
  background-color: #FFFFFF;
  padding: 0.625rem;
  border-radius: 0.5rem;
  flex-direction: column;
  color: #FFFFFF;

  @media only screen and (max-width: 768px) {
    flex: 0 1 calc(50% - 0.5rem);
  }

  @media only screen and (min-width: 769px) and (max-width: 1151px){
    flex: 0 1 calc(33% - 0.6rem);
  }
  @media only screen and (min-width: 1151px) and (max-width: 1380px){
    flex: 0 1 calc(25% - 0.75rem);
  }
}

.card_item-image-wrapper {
  display: flex;
  height: 18.5625rem;
  justify-content: center;
  max-width: 100%;
  border-radius: 0.5rem;

  @media only screen and (max-width: 768px) {
    height: 18.4rem;
  }
}

.card_item-image {
  min-height: 100%;
  border-radius: 0.5rem;
}

.card_item_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.625rem;
  margin-top: 0.3125rem;

  @media only screen and (max-width: 768px) {
    gap: 1.2rem;
    margin-top: 0.5rem
  }
}

.card_item_minor-info {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.card_item-brand {
  font: normal normal bold 0.9375rem/1.375 Nunito;
  color: #4B9CE2;
  text-transform: capitalize;

  @media only screen and (max-width: 768px) {
    font: normal normal bold 1.5rem/1.2 Nunito;
  }
}

.card_item_color {
  //color: #3E3E3E;
  font: normal normal bold 0.8125rem/1.375 Nunito;
  color: #3E3E3E;
  text-transform: capitalize;
  span:nth-child(2) {
    font-weight: normal;
  }

  @media only screen and (max-width: 768px) {
    font: normal normal bold 1rem/1.4 Nunito;
  }
}

.card_item_price {
  font: normal normal bold 1.125rem/1.375 Nunito;
  color: #3E3E3E;

  @media only screen and (max-width: 768px) {
    font: normal normal bold 1.5rem/1.2 Nunito;
  }
}

//.card_item_color-title {
//  color: #3E3E3E;
//  font: normal normal bold 0.8125rem/2.2 Nunito;
//}
//
//.card_item_color-value {
//  color: #3E3E3E;
//  font: normal normal bold 0.8125rem/2.2 Nunito;
//}
