.create-product_wrapper {
  background-color: #f2f2f2;
  width: 100%;
  padding: 1.25rem 13.75rem 10.5rem;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    padding: 1.6rem 1rem 1rem 1rem;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
}

.create-product_content-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  width: 100%;
  height: 50.75rem;
  position: relative;

  @media only screen and (max-width: 768px) {
    padding: 1.6rem 1rem 1rem 1rem;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.create-product-detail_wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 0 0 1.875rem;
  align-items: flex-start;
  width: 100%;
  //background-color: purple;
  flex: 1;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.create-product-detail_title {
  color: #525252;
  font-weight: bold;
  font-size: 1.5625rem;
  line-height: 1.4375rem;
  letter-spacing: 0;

  @media only screen and (max-width: 768px) {
    font: normal normal bold 2rem/2.3 Nunito;
    line-height: 1;
    margin-bottom: 2rem;
  }
}
//tum inputlara
//padding-top: 1.5625rem;

.create-product-detail_input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //background-color: yellow;
  width: 100%;
  padding-right: 2.9375rem;
  border-right: 1px solid #F4F4F4;

  @media only screen and (max-width: 768px) {
    padding: 0;
    border-right: none;
    gap: 1.5rem;
  }
}

.create-product-detail_double_input-section {
  display: flex;
  width: 100%;
  column-gap: 1.5rem;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1.5rem;
  }
}

.create-product-detail_input-section {
  //margin-top: 1.5625rem;
  padding-top: 1.5625rem;
  display: flex;
  flex-direction: column;
  //background-color: red;
  width: 100%;

  input {
    font: normal normal normal 1rem/1.375 Nunito;
    letter-spacing: 0;

    &:focus {
      color: #3E3E3E;
    }
  }
  label {
    padding-bottom: 0.3125rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 0;

    input {
      font: normal normal normal 1.6rem/2.2 Nunito;
      padding: 1.2rem 1.5rem;
      height: 100%;
    }

    label {
      font: normal normal normal 1.5rem/1.35 Nunito;
      padding-bottom: 0.5rem;
    }
  }
}

.create-product-detail_input-wrong {
  background-color: #FFF2F2 !important;
  color: #F77474 !important;
  border-color: #F77474 !important;

  &[id=price]::placeholder {
    color: #F77474 !important;
  }
}

.create-product-detail_input_section-warning {
  color: #F77474;
  font: normal normal normal 0.75rem/1 Nunito;
  letter-spacing: 0;
  margin-top: 0.125rem;

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.2rem/1.6 Nunito;
    margin-top: 0.2rem;
  }
}

.create-product-detail_upload-wrapper {
  flex: 1;
  padding-left: 2.9375rem;

  @media only screen and (max-width: 768px) {
    padding-left: 0;

  }
}

input, select {
  border-radius: 0.5rem;
  background-color: #F4F4F4;
  color: #99A0A7;
  padding: 0.9375rem 0.75rem 0.9375rem 0.6875rem;
  height: 2.8125rem;
  border: none;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0;


  &:focus {
    //overflow: scroll;
    background-color: #F0F8FF;
    border: 1px solid #4B9CE2;
    color: #3E3E3E;
  }
}

select {
  border-radius: 0.5rem;
  background-color: #F4F4F4;
  color: #99A0A7;
  padding: 0 0.75rem 0 0.6875rem;
  height: 2.8125rem;
  //border: none;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: 0;
  cursor: pointer;

  &:focus {
    background-color: #FFFFFF;
    border: 1px solid #4B9CE2;
    box-shadow: 0 3px 12px #1E36482E;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.6rem/2.2 Nunito;
    height: 4.5rem;
    padding: 0 1.5rem;
  }
}

.create-product-detail_input-section-price {
  width: 14.75rem;
  row-gap: 0.6875rem;

  label[for="isOfferable"] {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #B1B1B1;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;

    label[for="isOfferable"] {
      font: normal normal normal 1.6rem/1.1 Nunito;
      padding-bottom: 0;
    }
  }
}

.offer-fixer {
  //flex-direction: column !important;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 0.6875rem;

  input {
    transform: translateY(-25%);
  }

  @media only screen and (max-width: 768px) {
    padding-top: 1.1rem;

    input {
      transform: translateY(-15%);
      width: 2rem;
      height: 2rem;
    }
  }
}

  textarea[name="description"] {
    height: 5.75rem;
    color: #99A0A7;
    text-align: left;
    font: normal normal normal 1rem/1.375 Nunito;
    letter-spacing: 0;
    word-wrap: break-word;
    overflow:auto;
    border-radius: 0.5rem;
    background-color: #F4F4F4;
    padding: 0.9375rem 0.75rem 0.9375rem 0.6875rem;
    border: none;
    font-size: 1rem;


    &:focus {
      background-color: #F0F8FF;
      border: 1px solid #4B9CE2;
      color: #3E3E3E;
    }

    @media only screen and (max-width: 768px) {
      padding: 1rem 1.5rem;
      height: 9rem;
      font: normal normal normal 1.6rem/1.5 Nunito;
    }
  }


.create_product-button {
  cursor: pointer;
  position: absolute;
  bottom: 1.875rem;
  right: 1.875rem;
  height: 2.8125rem;
  width: 19.6875rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4B9CE2;
  color: #FFFFFF;
  font: normal normal bold 1.125rem/1.5 Nunito;

  @media only screen and (max-width: 768px) {
    position: static;
    width: 100%;
    font: normal normal bold 1.8rem/24px Nunito;
    height: 4.5rem;
    margin-top: 2.5rem;
  }
}



