.products_detail_wrapper {
  background-color: #F2F2F2;
  width: 100%;
  height: calc(100vh - 5rem);
  padding: 1.25rem 13.75rem;
}

.products_detail_main-container {
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  display: flex;
  column-gap: 3.5rem;
  padding: 1rem 0.95rem;
  width: 100%;
  height: 80vh;
}

.products_detail_image-container {
  border-radius: 0.5rem;
  position: relative;
  //
  //flex: 0.95;

  img {
    max-width: 43.75rem;
    height: 46.0625rem;
    border-radius: 0.5rem;
    object-fit: contain;
  }
}

//.products_detail_text-info-wrapper {
//  display: flex;
//  flex-direction: column;
//}

.products_detail_text-container {
  padding-top: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;


  span {
    width: 100%;
    text-transform: capitalize;
    letter-spacing: 0;
    color: #555555;
  }
}

.products_detail_text-title {
  font-size: 2.125rem;
  line-height: 1.44rem;
  margin-bottom: 1.56rem;
}

.products_detail_text-info-container{
  display: flex;
  gap: 1.25rem;
}

.products_detail_text-info-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}

.products_detail_text-info-static {
  font-size: 0.94rem ;
  line-height: 1.25rem;
  font-weight: bold;
}

.products_detail_text-info-dynamic {
  font-size: 0.94rem ;
  line-height: 1.25rem;
}

.products_detail_text-price {
  font-weight: bold;
  font-size: 1.56rem ;
  line-height: 2rem;
  margin: 1.875rem 0;
}

.products_detail_text_offered-price {
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  height: 2.25rem;
  padding: 0 3.625rem 0.5rem 0.625rem;
  margin: -1.8749rem 0 1.875rem;

  span:first-child{
    color: #B1B1B1;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }
  span:last-child{
    color: #525252;
    margin-left: 0.4375rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: bold;
    letter-spacing: 0;
  }
}

.products_detail_text-info_description-title {
  font-weight: bold;
  font-size: 1.125rem ;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}

.products_detail_text-info_description {
  font-size: 0.937rem ;
  line-height: 1.437rem;
  //TODO: fix right padding on description info, margin low res yemiyo
  //max-width: 68%;
  text-align: left;
  margin-right: 14.0625rem;
}

.product_sold_button {
  color: #FAAD60;
  background-color: #FFF0E2;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  border: none;
  padding: 0.6875rem 1.75rem ;
  margin: 0 auto 1.875rem;
}

.product_buy_button {
  color: #FFFFFF;
  background-color: #4B9CE2;
  border-radius: 0.5rem;
  //font-weight: bold;
  //font-size: 1.125rem;
  //line-height: 1.5rem;
  text-transform: capitalize;
  border: none;
  padding: 0.6875rem 0 0.6875rem;
  margin: 0 0.625rem 1.875rem auto;
  width: 14.6875rem;
  font: normal normal bold 1.125rem/1.5 Nunito;
}

.product_offer_button {
  color: #4B9CE2;
  background-color: #F0F8FF;
  border-radius: 0.5rem;
  width: 14.6875rem;
  //font-weight: bold;
  //font-size: 1.125rem;
  //line-height: 1.5rem;
  text-transform: capitalize;
  border: none;
  padding: 0.6875rem 0 0.6875rem;
  margin: 0 auto 1.875rem;
  font: normal normal bold 1.125rem/1.5 Nunito;
}
