.toaster-wrapper {
  height: 3.75rem;
  width: 20.0625rem;
  color: white;
  position: absolute;
  top: 5.625rem;
  right: 0.6875rem;
  box-shadow: 0 3px 12px #1E36482E;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;

  img {
    width: 1.375rem;
    height: 1.375rem;
    margin: 0 0.625rem 0 0.75rem;
  }

  span {
    font: normal normal normal 1rem/1.4375 Nunito;
    letter-spacing: 0;
  }
}

.toaster-error {
  background: #FFE5E5;
  color: #F77474;
}

.toaster-success {
  background: #F1FFF0;
  color: #46AF32;
}
