.account-details_container {
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 1.125rem 13.75rem;

  @media only screen and (max-width: 768px) {
    width: 100vw;
    padding: 1rem;
  }
}

.account-details_mail-wrapper {
  width: 100%;
  min-height: 4.375rem;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  padding-left: 1.625rem;

  img {
    height: 2.375rem;
    width: auto;
  }

  span {
    font-weight: bold;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 768px) {
    height: 7rem;
    padding-left: 2.6rem;
    gap: 1rem;

    img {
      height: 3.8rem;
      width: 3.8rem;
    }

    span {
      font: normal normal bold 1.5rem/2 Nunito;
    }
  }
}

.account-details_list-container {
  border-radius: 0.5rem;
  margin-top: 0.625rem;
  min-height: 65.6vh;
  width: 100%;
  background-color: #FFFFFF;
  overflow: auto;
}

.account-details_list_button-container {
  display: flex;
  padding-left: 1.625rem;
  //height: 2.9375rem;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
  column-gap: 2.125rem;
  margin-bottom: 1.1875rem;

  @media only screen and (max-width: 768px) {
    justify-content: space-between;
    padding: 0 3.2rem 0 3.2rem;
    margin-bottom: 0;
  }
}

.account-details_list_selected-button {
  color: #4B9CE2 !important;
  border-bottom: 1px solid #4B9CE2 !important;
}

.account-details_list-button {
  color: #B1B1B1;
  border: none;
  background-color: #FFFFFF;
  height: 2.9375rem;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  padding: 1rem 0 0.6rem 0;

  @media only screen and (max-width: 768px) {
    white-space: nowrap;
  }
}

.account-details_list-box_wrapper {
  padding-left: 1.625rem;
  display: flex;
  flex-direction: column;
  padding-right: 2.3125rem;

  @media only screen and (max-width: 768px) {
    padding: 1rem;
    height: auto;
    gap: 1rem;
  }
}

.account-details_list-box_card {
  display: flex;
  width: 100%;
  height: 6.5rem;
  border-radius: 0.5rem;
  //padding: 1.25rem 0 1.25rem 1.875rem;
  border: 1px solid #F2F2F2;
  margin-bottom: 1.25rem;
  padding-right: 1.875rem;
  justify-content: space-between;

  @media only screen and (max-width: 768px) {
    height: 13.4rem;
    padding: 1rem;
    flex-direction: column;
    margin: 0 1rem 0 0;
    //gap: 1rem;
  }
}

.account-details_list_left-section {
  display: flex;
  justify-content: flex-start;

  @media only screen and (max-width: 768px) {
    width: 100%;
    gap: 1rem;
  }
}

.account-details_list-box_image {
  width: 4.875rem;
  height: 5.25rem;
  margin: 0.625rem;
  border-radius: 0.5rem;
  object-fit: contain;

  @media only screen and (max-width: 768px) {
    height: 8.4rem;
    min-width: 7.8rem;
    margin: 0;
  }
}

.account-details_list-box_info-container {
  margin: 0.875rem 0 1.4375rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.4375rem;

  @media only screen and (max-width: 768px) {
    margin: 0;
    width: 100%;
    gap: 1rem;
  }
}

.account-details_list_right-section {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 768px) {
    height: 100%;
    padding-bottom: 1.5rem;
    width: calc(100% - 8.8rem);
    margin-left: 8.8rem;
  }
}

.account-details_list-box_info-title {
  color: #555555;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: 0;

  @media only screen and (max-width: 768px) {
    display: flex;
    font: normal normal normal 1.8rem/2.3 Nunito;
    text-overflow: ellipsis;
    align-items: flex-start;
    width: 100%;

    span {
      line-height: 1;
    }
  }
}

.account-details_list-box_info-price {
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  padding: 0 3.625rem 0.5rem 0.625rem;

  @media only screen and (min-width: 1200px) {
    width: 14.375rem;
  }

  @media only screen and (min-width: 800px) and (max-width: 1200px){
    width: 13rem;
    white-space: nowrap;
  }

  span:first-child{
    color: #B1B1B1;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }
  span:last-child{
    color: #525252;
    margin-left: 0.4375rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: bold;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 0.6rem 1rem;
    white-space: nowrap;
    span:first-child{
      font: normal normal normal 1.5rem/2 Nunito;
    }
    span:last-child{
      font: normal normal bold 1.5rem/2 Nunito;
    }
  }
}

.account-details_list_right_section_buy-button {
  background-color: #4B9CE2;
  width: 5.375rem;
  height: 1.875rem;
  padding: 0.3125rem 1.25rem;
  border: none;
  border-radius: 0.5rem;
  color: #FFFFFF;
  margin-right: 0.625rem;
  cursor: pointer;
  white-space: nowrap;

  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    padding: 0.5rem;
    line-height: 0;
    width: 5rem;
    height: 2rem;
  }

  @media only screen and (min-width: 1201px) and (max-width: 1500px) {
    line-height: 0;
    padding: 1rem;
    width: 6rem;
  }

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.5rem/2.3 Nunito;
    height: 3rem;
    width: 10.8rem;
    line-height: 0;
    margin-right: 0;
  }
}

.account-details_list_right_section_reject-button {
  background-color: #F77474;
  width: 5.375rem;
  height: 1.875rem;
  padding: 0.3125rem 1.125rem;
  border: none;
  border-radius: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.5rem/2.3 Nunito;
    height: 3rem;
    width: 10.8rem;
    line-height: 0;
  }
}

.account-details_list_right_section_accept-button {
  background-color: #4B9CE2;
  width: 5.375rem;
  height: 1.875rem;
  padding: 0.3125rem 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #FFFFFF;
  margin-right: 1.875rem;

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.5rem/2.3 Nunito;
    height: 3rem;
    width: 10.8rem;
    line-height: 0;
  }

  @media only screen and (min-width: 769px) and (max-width: 1500px) {
    white-space: nowrap;
    line-height: 1;
    width: 7rem;
  }
}

.details_list_right_section_status_btn-fixer {
  display: flex;

  @media only screen and (max-width: 768px) {
    display: flex;
    gap: 1rem;
  }
}

.account-details_list_right_section_status {
  margin: auto 0;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  text-transform: capitalize;

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.5rem/2.3 Nunito;
    margin-right: 2rem;
    //margin-top: 0;
    line-height: 0;
  }
}

.account-details_list_right-section_mobile-fixer {
  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.offer_status-accepted {
  color: #4B9CE2;
  &:before {
  content: "Onaylandı";
  }
}

.offer_status-rejected {
  color: #F77474;
  &:before {
  content: "Reddedildi";
  }
}

.offer_status-waiting {
  color: #b1b1b1;
}

.offer_isSold {
  color: #46AF32;
  &:before {
    content: "Satın Alındı";
  }
}

