.account-details_container {
  width: 100%;
  height: calc(100vh - 5rem);
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 13.75rem;
}
