///* Colors: */
$color-ffe5e5: #FFE5E5;
$color-46af32: #46AF32;
$color-4b9ce2: #4B9CE2;
$color-f0f8ff: #F0F8FF;
$color-f77474: #F77474;
$color-3e3e3e: #3E3E3E;
$color-525252: #525252;
$color-b1b1b1: #B1B1B1;
$color-eaeaea: #EAEAEA;
$color-f2f2f2: #F2F2F2;
$color-ffffff: #FFFFFF;

