.cards-container {
  display: flex;
  //width: 100%;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  width: 100%;
  gap: 1.875rem 1.25rem;
  justify-content: space-between;

  //align-items: center;
  //justify-content: space-between;

  @media only screen and (max-width: 768px) {
    gap: 1rem;
  }
}
