//input[type=file]::file-selector-button {
//  display: none;
//}

input[type=file]::-webkit-file-upload-button {
  display: none;
}

.product_image_title {
  color: #525252;
  margin: 1.875rem 0 1.5625rem 0;
  font-weight: bold;
  font-size: 1.5625rem;
  line-height: 1.4375rem;
  letter-spacing: 0;

  @media only screen and (max-width: 768px) {
    font: normal normal bold 2rem/1.35 Nunito;
    margin: 2.2rem 0 1.5rem 0;
  }
}

.input-wrapper {
  margin-top: 2rem;
  position: relative;
  width: 37.1875rem;
  height: 10.25rem;
  border-radius: 0.5rem;
  //background-color: #FFFFFF;
  //background-color: transparent;

  input {
    border: 1px dashed #B1B1B1;
    color:transparent;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
  }

  @media only screen and (max-width: 768px) {
    margin-top: 0;
    width: 100%;
    height: 11.3rem;
  }
}

.input_info-overlay {
  position: absolute;

  //@media only screen and (max-width: 768px) {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: center;
  //}
}

.input_info-image {
  position: absolute;
  top: 1.1875rem;
  left: 17.625rem;
  width: 1.875rem;
  height: 1.8125rem;

  @media only screen and (max-width: 768px) {
    width: 3rem;
    height: 2.9rem;
    top: 0.93rem;
    left: calc((100vw - 7rem) / 2);
  }
}

.input_info-overlay-drag {
  left: 13.375rem;
  top: 3.0625rem;
  position: absolute;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 0;
  color: #525252;
  width: 10.375rem;
  height: 2.125rem;
  text-align: center;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.input_info-overlay-choose {
  top: 5.5rem;
  border: none;
  //top: 11.0625rem;
  left: 14.75rem;
  position: absolute;
  border-radius: 0.5rem;
  background-color: #F4F4F4;
  color: #B1B1B1;
  letter-spacing: 0;
  width: 7.625rem;
  height: 1.875rem;
  //padding: 0.3125rem 1.1875rem;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;

  span {
    //font-size: 0.9375rem;
    font-size: 15px;
    line-height: 1.4375rem;
  }

  @media only screen and (max-width: 768px) {
    left: calc((100vw - 16.2rem) / 2);
    top: 4.76rem;
    width: 12.2rem;
    height: 3rem;
    white-space: nowrap;
    span {
      font: normal normal normal 1.5rem/2.3 Nunito;
    }
  }
}

.input_info-overlay-max {
  top: 8rem;
  left: 11.75rem;
  position: absolute;
  font-size: 0.75rem;
  line-height: 0.875rem;
  width: 13.625rem;
  height: 1rem;

  @media only screen and (max-width: 768px) {
    font: normal normal normal 1.2rem/1.4 Nunito;
    color: #B1B1B1;
    white-space: nowrap;
    top: 8.74rem;
    width: 21.8rem;
    left: calc((100vw - 25.8rem) / 2);
  }
}

.input_info-overlay-warning {
  color: #F77474;
}

.uploaded_image_container {
  position: relative;
  display: inline-block;

  img {
    width: 7.0625rem;
    height: 7.0625rem;
    border-radius: 1rem;
  }

  @media only screen and (max-width: 768px) {
    img {
      width: 10.8rem;
      height: 10.8rem;
      //object-fit: scale-down;
    }
  }
}

.delete_btn_uploaded_image{
  position: absolute;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  top: -0.35rem;
  right: -0.15rem;

  @media only screen and (max-width: 768px) {
    width: 2.2rem;
    height: 2.2rem;
    top: -0.6rem;
    right: -0.3rem;
  }
}

.loader {
  position: absolute;
  left: calc(37.1875rem - 60%);
  top: calc(10.25rem - 85%);

  @media only screen and (max-width: 768px) {
    left: calc((100vw - 14rem) / 2);
    top: 0.65rem;
  }
}

